psutil
setproctitle
redis
numpy
pyqtgraph
python-dateutil
pandas~=2.0
GitPython
toml
tzlocal
pyserial
pynmea2
gpiozero
requests
strip.pysondb
bleak~=1.0
humanize
boto3
h5py
PyQt6



# for BRT tool
simplepyble~=0.7.3
lsb@git+https://github.com/LowellInstruments/lsb.git



# don't install during dev but "attach" in pycharm
# ble@git+https://github.com/LowellInstruments/ble.git
# gps@git+https://github.com/LowellInstruments/gps.git
# mat@git+https://github.com/LowellInstruments/mat.git
