psutil
setproctitle
redis
numpy
pyqtgraph
python-dateutil
pandas~=2.0
GitPython
toml
tzlocal
pyserial
pynmea2
gpiozero
requests
strip.pysondb
bleak~=1.0
humanize
boto3
h5py


# on RPi, install PyQt6 via apt
# apt install python3-pyqt6 pyqt6-dev-tools



# for BRT tool
simplepyble~=0.7.3
lsb@git+https://github.com/LowellInstruments/lsb.git



gps@git+https://github.com/LowellInstruments/gps.git
ble@git+https://github.com/LowellInstruments/ble.git
rd_ctt@git+https://github.com/LowellInstruments/rd_ctt.git
# mat is installed differently

