uvicorn
fastapi
python-multipart
setproctitle
pyserial
gpiozero
toml
GitPython
strip.pysondb~=1.5.1
requests
tzlocal
gps@git+https://github.com/LowellInstruments/gps.git
rd_ctt@git+https://github.com/LowellInstruments/rd_ctt.git
